<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>See all of the students</h1>
        <% students.forEach(function(student) { %>
            <p>
                <%= student.name %>
            </p>
        <% }) %>
    </body>
</html>
