<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/students" method="post">
            <label for="new">Enter a new student: </label>
            <input type="text" name="new" value="">
            <input type="submit" name="name" value="Submit">
        </form>
    </body>
</html>
